# Django
Django==4.0.5
asgiref==3.5.2
sqlparse==0.4.2
tzdata==2022.1

# 3rd
django-sql-explorer==2.4.2

# DB
psycopg2==2.9.5

# ENV
python-dotenv==0.20.0

# PROD
gunicorn==20.1.0

# geocoder
geocoder==1.38.1